/*
#ddd
#333
#fff
shadow : 0 1px 5px rgba(104, 104, 104, 0.8)
*/

* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 18px;
}

h3{
  margin: 20px 0 0 20px;
}

label {
  display: block;
  text-align: center;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.6rem 1.3rem;
  border: 0;
}

#wrap {
  width: 768px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
}

.top {
  background-color: #e3b8f0;
}

.top h1 {
  display: inline;
  float: left;
  color: white;
  margin-left: 15px;
}

.menu {
  position: relative;
}

.menu ul {
  position: absolute;
  right: 5%;
  top: 20%;
}

.menu li {
  float: left;
  margin-right: 15px;
}

.menu li a {
  color: white;
}

.menu::after {
  content: "";
  display: block;
  clear: both;
}

.content {
  margin-top: 2rem;
}

/*제조량계산*/
#formresult::after{
  content: "";
  display: block;
  clear: both;
}
.form {
  float: left;
  width: 15%;
  height: 400px;
  background-color: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  margin-right: 6px;
  margin-left: 8px;
  font-size: 15px;
  padding: 10px 10px;
}

.form h2 {
  margin-bottom: 10px;
}

.ori, .suf, .sho, .lub, .set {
  display: block;
  width: 90%;
  height: 30px;
  margin: 8px auto;
  text-align: center;
  font-size: 15px;
}

.result {
  float: right;
  width: 83%;
}

.result::after {
  content: "";
  display: block;
  clear: both;
}

#made, #material, #syrup {
  float: left;
  width: 30%;
  font-size: 1.1rem;
  background-color: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  text-align: center;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px;
}

#syrup {
  margin-right: 0;
}

#syrup h2 {
  margin-bottom: 10px;
}

.made {
  width: 80%;
  margin: 0 auto;
}

.material {
  width: 50%;
  float: left;
}

.made li {
  margin: 25px 0;
  font-size: 15px;
}

.material li {
  margin: 30px 0;
  font-size: 15px;
}

.material li p {
  margin-top: 10px;
}

.syrup {
  float: left;
  width: 50%;
  text-align: center;
  line-height: 1.1rem;
  margin-bottom: 10px;
}

.syrup li {
  line-height: 20px;
  font-size: 15px;
}

.syrup p {
  margin: 5px 0;
}


/*타이머*/

#madetimer::after{
  content: "";
  display: block;
  clear: both;
}
.stopwatch{
  clear: both;
  background-color: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  float: left;
}

.timer{
  clear: both;
}

.timer p {
  text-align: center;
  font-size: 100px;
}


.timestart, .timestop, .recordbtn,  .resetbtn{
  position: relative;
  top: 50%;
  width: 30%;
}

.timestart:active, .timestop:active, .recordbtn:active, .resetbtn:active, .ster:active{
  opacity: 0.8;
}

.ster{
  position: relative;
  top: 50%;
}

.buttondiv, .sterbtn {
  text-align: center;
}

.record{
  float: left;
  background-color: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.record p{
    display: inline-block;
    width: 105px;
    margin-right: 5px;
    padding-right: 5px;
}

.record p span{
  font-weight: bold;
}

.content::after{
  content: "";
    display: block;
    clear: both;
}
/*온습도카운트*/
#stertimer{
  clear: both;
}

#stertimer::after{
  content: "";
  display: block;
  clear: both;
}
.ster, .sterstop, .sterreset{
  width: 48%;
}
.countdown p {
  text-align: center;
  font-size: 100px;
}

.temper{
  float: left;
  width: 15%;
  background-color: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  margin-right: 5px;
  margin-left: 8px;
  font-size: 15px;
  padding: 10px 10px;
  clear: both;
}

.counttimer{
  float: left;
  width: 80%;
  background-color: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  margin-top: 10px;
  margin-left: 15px;
  padding: 10px 10px;
}

.tem, .hum{
  display: block;
  width: 90%;
  height: 30px;
  margin: 8px auto;
  text-align: center;
  font-size: 15px;
}

/*아이스크림*/

.icemade {
  width: 80%;
  margin: 0 auto;
}

.icematerial {
  width: 50%;
  float: left;
}

.icemade li {
  margin: 20px 0;
  font-size: 15px;
}

.icematerial li {
  margin: 30px 0;
  font-size: 15px;
}

.icematerial li p {
  margin-top: 10px;
}

/*미디어쿼리*/
@media only screen and (min-width: 768px) {
  #wrap {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
  }
  .form {
    float: left;
    width: 15%;
    height: 400px;
    background-color: #ddd;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    margin-right: 5px;
    margin-left: 18px;
    font-size: 15px;
    padding: 10px 10px;
  }
  #made, #material {
    margin-left: 15px;
    margin-right: 15px;
  }
  #syrup {
    margin-left: 15px;
  }

  .temper {
    float: left;
    width: 15%;
    background-color: #ddd;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    margin: 10px 5px 0px 18px;
    font-size: 15px;
    padding: 10px 10px;
  }

  .stopwatch {
    float: left;
    width: 47%;
    background-color: #ddd;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    margin: 10px 5px 20px 18px;
    font-size: 15px;
    padding: 10px 10px;
  }

  .record{
    float: left;
    width: 48%;
    height: 172.188px;
    background-color: #ddd;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    margin: 10px 5px 20px 16px;
    font-size: 15px;
    padding: 10px 10px;
  }
}
